<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>AI 학습몰입도</h1>
<div>
    <a href="/">
    <button style="margin-right:20px;">HOME</button></a>
    <a href="/userlog">
    <button style="margin-right:20px;">MyLOG</button></a>
</div>
<div style="margin:50px 0;">
    {% if request.user.is_authenticated %}
        {{ user.get_username }} 님 환영합니다.<br>

    {% else %}
        <form action="/sologincheck" method="post"  enctype="multipart/form-data">
        <input type="text" name="username" /><br>
        <input type="password" name="userpwd" /><br>
        <input type="submit" value="로그인" />
        </form>
    {% endif %}
</div>
<div style="margin:10px 0;">
    {% if rsRoom %}
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
            <tr style="height:35px;background-color:#e8e8e8;">
                <th>Room ID</th>
                <th>제목</th>
                <th>생성자</th>
                <th>일시</th>
                <th>Client번호</th>
                <th></th>
            </tr>
        {% for i in rsRoom %}
            <tr style="height:35px;">
                <td style="width:8%;text-align:center;">{{i.id}}</td>
                <td style="width:15%;">{{i.room_title}}</td>
                <td style="width:15%;text-align:center;">{{i.username}}</td>
                <td style="width:15%;text-align:center;">{{i.createdat|date:"Y-m-d H-m"}}</td>
                <td style="width:15%;text-align:center;">{{i.roomno}}</td>
                <td style="width:32%;"></td>
            </tr>
        {% endfor %}
        </table>

    {% else %}
        <p>Room 없습니다.</p>
    {% endif %}
</div>

</body>
</html>